<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/" onclick="return false;">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/saved">Saved</a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">News Scrapper</h1>
    <p class="lead">This web application with scrap articles from _______ and you will be able to save the articles to be visited again and to write notes on.</p>
  </div>
</div>
<div class="container-fluid">

</div>