<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Home</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/" onclick="return false;">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/saved">Saved</a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px !important;">
  <div class="container">
    <h1 class="display-4">Javascript News Scrapper</h1>
    <p class="lead">This web application with scrap articles from _______ and you will be able to save the articles to be visited again and to write notes on.</p>
  </div>
</div>
<div class="container-fluid p-4" style="background-color: aquamarine;">
  {{#each results}}
    <div class="card mb-4">
      <div class="card-header bg-info">
        <a style="color: white;" href={{this.link}}>{{this.header}}</a>
        <button type="button" data-id={{this._id}} class="btn btn-danger" id="saveArticle">Save Article</button>
      </div>
      <div class="card-body">
        <p>{{this.bio}}</p>
      </div>
    </div>
  {{/each}}
</div>